*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary: #598eff;
  --secondary: #396ddf;
}
html{
  height: 100%;
}
body{
  height: 100%;
  padding-top: .4rem;
}
body::after{
  content: '';
  position: absolute;
  top: 0;
  display: block;
  background-image: url(./Wheel-PCD.jpg);
}

input {
  margin: 1.5rem .3rem 0;
  line-height: 2.5rem;
  font-size: 1.5rem;
  width: 45%;
  display: inline-block;
  padding: 0 .5rem;
  outline: none;
  border-radius: .2rem;
  border: 1px solid black;
  box-sizing: border-box;
}

#answer {
  padding: 8%;
  font-size: 2.2rem;
  font-weight: bold;
  word-wrap: break-word;
}

button,
input[type='reset'] {
  padding: .5rem 1rem;
  font-size: 1.3rem;
  background-color: var(--primary);
  border: 2px solid var(--secondary);
  width: 30%;
  cursor: pointer;
  color: white;
  border-radius: .2rem;
}

input[type='reset'] {
  line-height: 1.5rem;
  background: transparent;
  color: var(--secondary);
  margin-right: 1rem;
}

button:hover {
  animation: click .3s 0s 1;
}

input[type="reset"]:hover {
  animation: click .3s 0s 1;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .15rem .1rem var(--primary);

}

input::placeholder {
  opacity: .6;
}


@keyframes click {
  from {
    box-shadow: 0 0 .1rem .1rem var(--primary);
  }

  to {
    box-shadow: 0 0 .1rem .3rem transparent,
      0 0 .1rem .1rem var(--primary);
  }
}

.logo{
  animation: rotate 18s infinite linear;
  -webkit-animation: rotate 18s infinite linear;
}

@keyframes rotate {
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}